# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Data outputs (opcional: mantenha raw fictício, ignore gerados)
data/clean/
data/curated/
reports/

data/raw/*

# env
.venv/
venv/
__pycache__/
*.pyc

# data & outputs
data/raw/
data/clean/
data/curated/
reports/

# streamlit cache
.streamlit/secrets.toml

# OS/editor
.DS_Store
Thumbs.db
.vscode/
